@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>
<h3>Finding Images</h3>
<h4>Wikimedia Commons</h4>
<p>
    Wikimedia Commons has a lot of royalty free SVG images.  Their licensing usually requires attribution so be sure to record that.
    The best way to find images is to do a Google image earch for the word <em>crest</em> or <em>heraldry</em> followed by the kind of
    picture you want to find and then <em>site:commons.wikimedia.org</em> to restrict to that site and finally <em>filetype:svg</em>
    so that only SVG images are returned.  If you enter the search in Google image search then it will remove the <em>filetype:svg</em> but
    don't worry, it's still searching for that file type.
</p>
<p>
    For example:
    <blockquote>
        heraldry lion site:commons.wikimedia.org filetype:svg
    </blockquote>
</p>
<h4>Vecteezy</h4>
<p>
    We've paid for a subscription to <a target="_blank" href="http://www.vecteezy.com/">http://www.vecteezy.com/</a> which means that we can use any SVG on
    their site royalty free.  If you add a shape from there then choose the <em>Eezy Premium</em> license.  The best way to find things, again,
    seems to be to search for <em>crest</em> or <em>heraldry</em> and then the item you're looking for.
</p>
<p>Username: <strong>nmetb</strong> Password: <strong>@AppSettings.VecteezyPassword</strong></p>
<h3>Extracting the XML from Image</h3>
<h4>Inkskape</h4>
<p>
    Download and install <a target="_blank" href="https://inkscape.org/">Inkscape</a> from <a href="https://inkscape.org/en/gallery/item/3956/inkscape-0.91-x64.msi">https://inkscape.org/en/gallery/item/3956/inkscape-0.91-x64.msi</a>.
    It's a pretty powerful SVG editing application but I've only been messing around with it for a little while.
</p>